
HotNews.xcodeproj/project.xcworkspace/xcuserdata/jason.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

*.xcworkspacedata

*.xcuserstate

*.plist

*.xcuserstate

HotNews.xcodeproj/project.xcworkspace/xcuserdata/jason.xcuserdatad/UserInterfaceState.xcuserstate

*.xcsettings

*.xcbkptlist

HotNews.xcodeproj/xcuserdata/Jason.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
